.Profile .card-title {
  font-size: 2rem;
  text-align: center;
  margin-top: 1rem;
  margin-bottom: 0;
}

.Profile .card {
  -webkit-box-shadow: 5px 5px 10px 2px lightgrey;
  box-shadow: 3px 3px 10px 2px lightgrey;
  max-width: 500px;
  margin: 0 auto;
  margin-top: 15vh;
}

.Profile form {
  padding: 1rem;
}

.Profile .form-label {
  margin: 10px 0 5px;
}

.Profile .btn {
  margin-top: .3rem;
}

.Profile-message {
  color: #00992e;
  margin-top: .5rem;
  text-align: center;
  min-height: 16px;
  line-height: 16px;
}

@media screen and (max-width: 600px) {
  .Profile .card {
    margin-top: .5rem;
    box-shadow: none;
    border: none;
  }
  .Profile .card-body {
    background-color: #f1f2f3;
    font-weight: 500;
  }
  .Profile .card-title {
    margin-top: 0;
  }
}
