.CompanyList {
  max-width: 800px;
  margin: 0 auto;
}

.CompanyList form {
  display: flex;
  justify-content: stretch;
  margin: 10px;
}

.CompanyList > a {
  margin: 10px;
  font-size: x-small;
}

.CompanyList .spinner-border {
  display: block;
  margin: 100px auto;
  color: #015dc0;
}
