.CompanyCard {
  -webkit-box-shadow: 0px 1px 2px 0px lightgrey;
  box-shadow: 0px 1px 2px 0px lightgrey;
  margin: 10px;
  border-radius: 0;
}

.CompanyCard-title {
  display: flex;
  justify-content: stretch;
  position: relative;
}

.CompanyCard-title .card-title {
  padding-right: 30px;
}

.CompanyCard-title img {
  position: absolute;
  right: 0;
  top: 0;
}

.CompanyCard a {
  color: black;
}

.CompanyCard a:hover {
  color: #0069d9;
  text-decoration: none;
  -webkit-box-shadow: 0px 3px 10px 2px lightgrey;
  box-shadow: 0px 3px 10px 2px lightgrey;
}

.CompanyCard .card-title {
  position: relative;
}

.CompanyCard img {
  position: absolute;
  right: 0;
}

@media screen and (max-width: 600px) {
  .CompanyCard .card {
    margin-top: 1rem;
    box-shadow: none;
    border: none;
  }
}
