.JobList {
  max-width: 800px;
  margin: 0 auto;
}

.JobList form {
  display: flex;
  justify-content: stretch;
  margin: 10px;
}

.JobList .spinner-border {
  display: block;
  margin: 100px auto;
  color: #015dc0;
}
