.LoginForm .card-title {
  font-size: 2rem;
  text-align: center;
}

.LoginForm .card {
  -webkit-box-shadow: 5px 5px 10px 2px lightgrey;
  box-shadow: 3px 3px 10px 2px lightgrey;
  max-width: 500px;
  margin: 0 auto;
  margin-top: 15vh;
}

.LoginForm form {
  padding: 1rem;
}

.LoginForm label {
  margin: 10px 0 5px;
}

.LoginForm .btn {
  margin-top: 1rem;
}

@media screen and (max-width: 600px) {
  .LoginForm .card {
    margin-top: 1rem;
    box-shadow: none;
    border: none;
  }

  .LoginForm .card-body {
    background-color: #f1f2f3;
    font-weight: 500;
  }
}
